# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
*.manifest
*.spec

# Logs
*.log
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
pytestdebug.log

# Translations
*.mo
*.pot

# Django
local_settings.py
db.sqlite3
db.sqlite3-journal
media/
staticfiles/
static/

# Flask
instance/
.webassets-cache
*.pid

# Scrapy
.scrapy

# Sphinx documentation
docs/_build/
doc/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints
profile_default/
ipython_config.py

# Environments / virtualenvs
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
pythonenv*
# pyenv
.python-version

# pipenv (uncomment if you don't want to commit lockfile)
# Pipfile.lock

# poetry (อย่าลบ lock ถ้าต้องการล็อกเวอร์ชัน)
# .poetry/

# Type checkers / linters / tools
.mypy_cache/
.dmypy.json
dmypy.json
.pyre/
.pytype/
.ruff_cache/
.pylint.d/
.bandit/
cython_debug/

# Editors / IDE
.vscode/
.idea/
*.code-workspace

# OS files
.DS_Store
Thumbs.db
